html {
    background:#444;
    color: #CEF;
}

a:link {
    color: #7BF;
}

a:visited {
    color: #CCF;
}

a:active {
    color: #FFF;
}

.unit-links {
    text-decoration: none;
}

.unit-links:link {
    color: #CEF;
}

.unit-links:visited {
    color: #CCF;
}

.unit-links:hover {
    text-decoration: underline;
}

.centre {
    text-align:center;
}

#logo {
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    font-style:italic;
    font-size:300%;
    color:#6AF;
    text-shadow: 0 0 20px #58B;
}

.username {
    text-align:center;
    background:#777;
    color:#7BF;
}

#center-username {
    margin:auto;
    width:90%;
}

.net {
    position:relative;
    border:0px;
    
}

.login-form {
    margin:0 auto;
    width:300px;
}

.form-label {
    font-size:15px;
    font-weight:bold;
}

.btn-thin {
    padding: 0.2em 1em;
    margin: 0.1em 0.1em;
}

.top-margin {
    margin-top: 15px;
}

#pass-div-cont {
    margin: 0px 0px;
}

#username-field {
    min-width: 292px;
}

#password-input-field {
    max-width: 300px;
    min-width: 207px
}

.submit_btn {
    margin: 10px 110px;
}

.taken, .error {
    color: red;
}

.right-text {
    text-align: right;
}

.unit-table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    max-width: 500px;
}

.unit-table * tr {
    border: 1px solid black;
}

.unit-table * th {
    border: 1px solid black;
    padding: 8px;
}

.unit-table * td {
    border: 1px solid black;
    padding: 5px;
}

.shop {
    max-width: 800px;
    margin: auto;
}